.our-work {
    background-color: #f9f9f9;
}

.dynamic-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #514947;
    padding: 60px 20px;
}

.slideshow-container {
    width: 100%;
    max-width: 600px;
}

.slide img {
    width: 100%;
    height: auto;
}

.description {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    color: #f9f9f9;
}

.description h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.description p {
    font-size: 1rem;
    line-height: 1.5;
}

.special-section {
    padding: 60px 20px;
    background-color: #0e0c08;
    color: #f9f9f9;
}

.special-content {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items to the start */
    justify-content: center;
    text-align: left;
}

.NBS-H2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #f9f9f9;
    text-align: center;
    width: 100%;
}

.gallery-carousel {
    width: 45%; /* Adjusted width for images */
    max-width: 800px;
    margin-bottom: 0; /* Ensure no extra margin at the bottom */
    padding-right: 10%;
}

.gallery-carousel .slide img {
    width: 100%;
    height: auto;
}

.testimonials {
    width: 45%; /* Adjusted width for testimonials */
    max-width: 500px;
    text-align: left;
    font-size: 1rem;
    color: #f9f9f9;
    padding-left: 20px; /* Add padding for spacing */
    margin-top: 0; /* Ensure no extra margin at the top */
}

.parallax-ba {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

@media (max-width: 768px) {
    .special-content {
        flex-direction: column;
        align-items: center;
    }

    .gallery-carousel, .testimonials {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
    }
}
