.parallax-wrapper {
    opacity: 0; /* Initially hidden */
    transition: opacity 2s ease-in-out; /* Animation duration */
}

.parallax-wrapper.fade-in {
    opacity: 1; /* Fade-in effect */
}

.parallax-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
